
body {
    background-color: #BABEBF;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: black;
  }
  

.text-danger {
    color:red;
}

.flashes {
    float:center;
    color:red;
}


.myTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.myTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.myTable th,
.myTable td {
    padding: 12px 15px;
}
.myTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.myTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.myTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.myTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}